@CHARSET "UTF-8";

h1 {
	color: red;
	font-size: 20px;
	font-family: 隶书;
}

/* p {
	color: red;
	background: yellow;
	font-size: 35px;
	font-family: 微软雅黑;
} */
.MyClass {
	color: red;
	background: pink;
	font-size: 40px;
	font-family: 微软雅黑;
}

.pp {
	color: lime;
	font-family: 黑体
}

p.pt {
	color: blue;
	font-family: 仿宋
}

#id001 {
	color: blue;
	font-family: 仿宋
}

p i {
	color: red;
}

ul li {
	color: pink;
}

li {
	color: red;
}

p {
	font-size: 15pt;
	text-indent: 20px;
}

b {
	font-size: 300%;
}

div {
	font-family: 黑体;
	/* font-style: italic; */
	font-style: oblique;
	font-variant: small-caps;
	font-weight: 900;
	font-size: 10px;
	text-align: justify;
}

span {
	text-transform: lowercase;
	text-decoration: line-through underline overline blink;
	/* font:italic bold 12pt/14pt 隶书,宋体;
	word-spacing: 100px;
	letter-spacing: 15px; */
	/* text-align:  */
}

a:link {
	color: red;
}

a:visited {
	color: pink;
}

a:active {
	color: yellow;
}

a:hover {
	color: green;
}

/* 沙盒演示 */
div {
    border-style: dotted;
    border-color: red;
    background: pink;
    margin: 10pt 5pt 15pt;
    border-top-width: 10px;
    padding-bottom: 5px;
}
