<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>JavaWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>rri</param-name>
    <param-value>1223</param-value>
  </context-param>
  <session-config>
    <session-timeout>15</session-timeout>
  </session-config>
  <filter>
    <filter-name>FilterDemo</filter-name>
    <filter-class>com.ddb.javaweb.filter.FilterDemo</filter-class>
    <init-param>
      <description>Use UTF-8</description>
      <param-name>charset</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>FilterDemo</filter-name>
    <url-pattern>/Servlet/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>ServletDemo</servlet-name>
    <servlet-class>com.ddb.javaweb.servlet.ServletDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo</servlet-name>
    <url-pattern>/Servlet/ServletDemo</url-pattern>
    <url-pattern>/456</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletInitOrderDemo</servlet-name>
    <servlet-class>com.ddb.javaweb.servlet.ServletInitOrderDemo</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInitOrderDemo</servlet-name>
    <url-pattern>/Servlet/ServletInitOrderDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletInitOrderDemo3</servlet-name>
    <servlet-class>com.ddb.javaweb.servlet.ServletInitOrderDemo3</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInitOrderDemo3</servlet-name>
    <url-pattern>/Servlet/ServletInitOrderDemo3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletInitOrderDemo2</servlet-name>
    <servlet-class>com.ddb.javaweb.servlet.ServletInitOrderDemo2</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInitOrderDemo2</servlet-name>
    <url-pattern>/Servlet/ServletInitOrderDemo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletInitParam</servlet-name>
    <servlet-class>com.ddb.javaweb.servlet.ServletInitParam</servlet-class>
    <init-param>
      <param-name>institute</param-name>
      <param-value>职业培训学院</param-value>
    </init-param>
    <init-param>
      <param-name>major</param-name>
      <param-value>Java技术</param-value>
    </init-param>
    <init-param>
      <param-name>count</param-name>
      <param-value>10000</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInitParam</servlet-name>
    <url-pattern>/Servlet/InitParam</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dbinit</servlet-name>
    <jsp-file>/WEB-INF/config_init_params.jsp</jsp-file>
    <init-param>
      <param-name>driver</param-name>
      <param-value>org.gjt.mm.mysql.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost:3306/javaweb</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>dbinit</servlet-name>
    <url-pattern>/config.init</url-pattern>
  </servlet-mapping>
</web-app>